/BotInterface.py
/user_settings.json
/timer.png
/test*
/picture*.png
/resource.zip
/captcha*.jpg
/gathering_configuration.json
/gathering_time*.png
/gold_node.png
/json_data.json
/main_logs.txt
/maraudeur_screen.png
/new_file.json
/*.json
/images to crop
/*.txt
/*.exe
/*.lnk
/Flet_Countdown.py
/Sample.py
/*png
/Flet_RoutesExemple.py!
/.venv
auth compiled/
/main.build/
/main.dist/
/main.onefile-build/
/.vscode/
/__pycache__/
__pycache__/
screenshots/
rankings.csv
logs/*
/models/
/logs/
/utils/character/
/.idea/bot.iml
/.idea/misc.xml
/.idea/vcs.xml
/.idea/webResources.xml
/tesseract/*
/utils/easyocr/*
/utils/models/craft_mlt_25k.pth
/utils/models/english_g2.pth
/logs